# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
/eagle/*.b#1
/eagle/*.b#2
/eagle/*.b#3
/eagle/*.b#4
/eagle/*.b#5
/eagle/*.b#6
/eagle/*.b#7
/eagle/*.b#8
/eagle/*.b#9
/eagle/*.s#1
/eagle/*.s#2
/eagle/*.s#3
/eagle/*.s#4
/eagle/*.s#5
/eagle/*.s#6
/eagle/*.s#7
/eagle/*.s#8
/eagle/*.s#9
/eagle/*.l#1
/eagle/*.l#2
/eagle/*.l#3
/eagle/*.l#4
/eagle/old/*.b##
/eagle/old/*.b#1
/eagle/old/*.b#2
/eagle/old/*.b#3
/eagle/old/*.b#4
/eagle/old/*.b#5
/eagle/old/*.b#6
/eagle/old/*.b#7
/eagle/old/*.b#8
/eagle/old/*.b#9
/eagle/old/*.s#1
/eagle/old/*.s#2
/eagle/old/*.s#3
/eagle/old/*.s#4
/eagle/old/*.s#5
/eagle/old/*.s#6
/eagle/old/*.s#7
/eagle/old/*.s#8
/eagle/old/*.s#9
/eagle/old2/*.b#1
/eagle/old2/*.b#2
/eagle/old2/*.b#3
/eagle/old2/*.s#1
/eagle/old2/*.s#2
/eagle/old2/*.s#3
/pic-version/eagle/*.b#1
/pic-version/eagle/*.b#2
/pic-version/eagle/*.b#3
/pic-version/eagle/*.b#4
/pic-version/eagle/*.b#5
/pic-version/eagle/*.b#6
/pic-version/eagle/*.b#7
/pic-version/eagle/*.b#8
/pic-version/eagle/*.b#9
/pic-version/eagle/*.s#1
/pic-version/eagle/*.s#2
/pic-version/eagle/*.s#3
/pic-version/eagle/*.s#4
/pic-version/eagle/*.s#5
/pic-version/eagle/*.s#6
/pic-version/eagle/*.s#7
/pic-version/eagle/*.s#8
/pic-version/eagle/*.s#9
/pic-version/eagle/*.l#1
/pic-version/eagle/*.l#2
/pic-version/eagle/*.l#3
/pic-version/eagle/*.l#4
/pic-version/eagle/old/*.b##
/pic-version/eagle/old/*.b#1
/pic-version/eagle/old/*.b#2
/pic-version/eagle/old/*.b#3
/pic-version/eagle/old/*.b#4
/pic-version/eagle/old/*.b#5
/pic-version/eagle/old/*.b#6
/pic-version/eagle/old/*.b#7
/pic-version/eagle/old/*.b#8
/pic-version/eagle/old/*.b#9
/pic-version/eagle/old/*.s#1
/pic-version/eagle/old/*.s#2
/pic-version/eagle/old/*.s#3
/pic-version/eagle/old/*.s#4
/pic-version/eagle/old/*.s#5
/pic-version/eagle/old/*.s#6
/pic-version/eagle/old/*.s#7
/pic-version/eagle/old/*.s#8
/pic-version/eagle/old/*.s#9
/pic-version/eagle/old2/*.b#1
/pic-version/eagle/old2/*.b#2
/pic-version/eagle/old2/*.b#3
/pic-version/eagle/old2/*.s#1
/pic-version/eagle/old2/*.s#2
/pic-version/eagle/old2/*.s#3
